<div class="container">
	<div class=jumbotron>
		<div class="container">
    <h3>Commercial Paper Issuance of ID {{id}}</h3>
      <div class="form-group">
      	<p>TODO PUT STEPPER HERE, make it correspond to the existing thing</p>
        <label for="issuer">Issuer : EIB</label> <br>
        <label for="counterparty">CounterParty: Accenture Lux</label> <br>
        <label for="apa">Agregate Principal Amount: 250,000,000</label> <br>
        <label for="issuedate">Issue Date: 15/06/2018</label> <br>
        <label for="maturityDate">Maturity date: 27/08/2018</label> <br>
        <label for="discountRate">Discount Rate: 0.85%</label> <br>

 		<button class="btn btn-success" style="float: right;">Create and Sign the Issuance</button>
 		<p><br></p>
</div>
	</div>
</div>

