<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<div class="container">
    <div class=jumbotron>
        <div class="container">
    <h3>Commercial Paper Issuance of ID {{id}}</h3>
      <div class="form-group">
        <p>TODO PUT STEPPER HERE, make it correspond to the existing thing</p>
        <p id="hidden-text" style="display:none"> TEST LOL</p>
        <label for="issuer">Issuer : EIB</label> <br>
        <label for="counterparty">CounterParty: Accenture Lux</label> <br>
        <label for="apa">Agregate Principal Amount: 250,000,000</label> <br>
        <label for="issuedate">Issue Date: 15/06/2018</label> <br>
        <label for="maturityDate">Maturity date: 27/08/2018</label> <br>
        <label for="discountRate">Discount Rate: 0.85%</label> <br>

        <button class="btn btn-success" style="float: right;">Return to Issuance Dashboard</button>
        <p><br></p>
</div>
    </div>
</div>
</div>  

<script type="text/javascript">
  function stepperDisplay() {
    if (id == "1001") {
        console.log(id);
        console.log("test");
        document.getElementById('hidden-text').style.display = 'block';
    } else {
    }
}  

angular.element(document).ready(function(){
    console.log("test");
    if (id == "1001") {
        console.log(id);
        console.log("test");
        document.getElementById('hidden-text').style.display = 'block';
    } else {
    }
});
</script>

</body>
</html>



