<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="./node_modules/web3/dist/web3.min.js"></script>
</head>
<body>
<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>


 <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script>
        if (typeof web3 !== 'undefined') {
            // when using Metamask, web3 would be injected
            web3 = new Web3(web3.currentProvider);
        } else {
            // set the provider you want from Web3.providers
            // this block will be executed if you are not
            // using Metamask
            web3 = new Web3(new
                Web3.providers.HttpProvider(
                "http://localhost:8545"));
        }
      
      
        //---the ABI of the contract---
        var contractABI = web3.eth.contract([{
		"constant": false,
		"inputs": [],
		"name": "Administration",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "_cp",
				"type": "address"
			}
		],
		"name": "counterpartyConfirmation",
		"outputs": [
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "_issueDate",
				"type": "string"
			},
			{
				"name": "_maturityDate",
				"type": "string"
			},
			{
				"name": "_custodianAddress",
				"type": "address"
			},
			{
				"name": "_counterPartyAddress",
				"type": "address"
			}
		],
		"name": "createCommercialPaper",
		"outputs": [
			{
				"name": "",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "_cp",
				"type": "address"
			}
		],
		"name": "custodianConfirmation",
		"outputs": [
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getCommercialPaperAddresses",
		"outputs": [
			{
				"name": "",
				"type": "address[]"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getCounterPartyContracts",
		"outputs": [
			{
				"name": "",
				"type": "address[]"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "_cp",
				"type": "address"
			}
		],
		"name": "getCpInfo",
		"outputs": [
			{
				"name": "",
				"type": "bool"
			},
			{
				"name": "",
				"type": "bool"
			},
			{
				"name": "",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getCustodianContracts",
		"outputs": [
			{
				"name": "",
				"type": "address[]"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getIssuingBankContracts",
		"outputs": [
			{
				"name": "",
				"type": "address[]"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getMyContractAddresses",
		"outputs": [
			{
				"name": "",
				"type": "address[]"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "returnHelloWorld",
		"outputs": [
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "_cp",
				"type": "address"
			}
		],
		"name": "returnHelloWorld2",
		"outputs": [
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	}
]);
      
        //---replace the contract address with your own---
        var contract = contractABI.at(
            '0x0c2b483a273cbc87d0df56b62b5c65810ad444a4');
      
        $("#btnCopyright").click(function() {
            var songlyrics = $("#songlyricstocopyright").val();
            console.log(songlyrics);
            contract.copyrightLyrics(
               songlyrics,(err, result) => {});
        });
      
        $("#btnVerify").click(function() {
            var songlyrics = $("#songlyricstoverify").val();
            contract.checkLyrics(songlyrics, (err, result) => {
                $("#result").html(result);
                alert(result)
            });
        });
        </script>


</body>
</html>

