 <!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Eibfront2</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>


<body>
 
<table style="width:90%"  class="manatable">
  <tr>
  	<th style="text-align:center">ID</th>
    <th style="text-align:center">Issue Date</th>
    <th style="text-align:center">Status</th>
    <th style="text-align:center">Info</th>
  </tr>

  <tr>
    <td>12/06/2018</td>
    <td> 
    	<div class="container2">
      	<ul class="progressbar">
          <li class="active">EIB Confirmation</li>
          <li>Counterparty confirmation</li>
          <li>Counterparty payment to custodian</li>
          <li>DVP Success</li>
  		</ul>
		</div>
	</td>
    <td ><button class="btn btn-outline-info" style="float: center;">Details</button></td>
  </tr>

  <tr>
    <td >
     12/06/2018
  	</td>
    <td > 
    	<div class="container2">
      	<ul class="progressbar">
          <li class="active">EIB Confirmation</li>
          <li class="active">Counterparty confirmation</li>
          <li class="active">Counterparty payment to custodian</li>
          <li>DVP Success</li>
  		</ul>
		</div>
	</td>
    <td><button class="btn btn-outline-info" style="float: center;">Details</button></td>
  </tr>

  <tr>
    <td>
    	12/06/2018
  	</td>
    <td> 
    	<div class="container2">
      	<ul class="progressbar">
          <li class="active">EIB Confirmation</li>
          <li class="active">Counterparty confirmation</li>
          <li class="active">Counterparty payment to custodian</li>
          <li class="active">DVP Success</li>
  		</ul>
		</div>
	</td>
    <td ><button class="btn btn-outline-info" style="float: center;">Details</button></td>
  </tr>



</table>



</body>
</html>