 <!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Eibfront2</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>


<body>
 
<table style="width:90%"  class="manatable">
  <tr>
  	<th style="text-align:center">ID</th>
    <th style="text-align:center">Status</th>
    <th style="text-align:center">Issue Date</th>
    <th style="text-align:center">Info</th>
  </tr>

  <tr>
    <td>6G7KL9G3DG6NBX77</td>
    <td> 
    	<div class="container2">
      	<ul class="progressbar">
          <li class="active">Signed by EIB</li>
          <li>Payment sent by CP</li>
          <li>Funds received by IPA</li>
          <li>DVP Success</li>
  		</ul>
		</div>
    <td >
      14/06/2018
    </td>
  <td><a href="/issueviz/6G7KL9G3DG6NBX77" class="btn btn-outline-info" style="float: center;">
    Details
</a></td>
  </tr>

  <tr>
    <td >
     S3F6BJM3S9NB6C41
  	</td>
    <td > 
    	<div class="container2">
      	<ul class="progressbar">
          <li class="active">Signed by EIB</li>
          <li class="active">Payment sent by CP</li>
          <li class="error">Funds received by IPA</li>
          <li>DVP Success</li>
  		</ul>
		</div>
  </td>
  <td >
    13/06/2018
  </td>
  <td><a href="/issueviz/S3F6BJM3S9NB6C41"  class="btn btn-outline-info" style="float: center;">
    Details
</a></td>
  </tr>

  <tr>
    <td>
    	KJI08HV45VC39DL1
  	</td>
    <td> 
    	<div class="container2">
      	<ul class="progressbar">
          <li class="active">Signed by EIB</li>
          <li class="active">Payment sent by CP</li>
          <li class="active">Funds received by IPA</li>
          <li class="active">DVP Success</li>
  		</ul>
		</div>
  </td>
  <td >
    12/06/2018
   </td>
    <td><a href="/issueviz/KJI08HV45VC39DL1" class="btn btn-outline-info" style="float: center;">
      Details
  </a></td>
  </tr>



</table>



</body>
</html>